*{
    box-sizing : border-box;
}

/* class active quand screen < 500px;
@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }*/
/* agit sur toutes les classes col-
[class*="col-"] {
    width: 100%;
}

}*/
/* Desktop */
 @media only screen and (min-width: 1024px) {
     /*  Responsive sur 12 col */
     .col-dsk-1 {width: 8.33%;}
     .col-dsk-1-5{width: 12.495%;}
     .col-dsk-2 {width: 16.66%;}
     .col-dsk-2-5{width: 20.825%;}
     .col-dsk-3 {width: 25%;}
     .col-dsk-4 {width: 33.33%;}
     .col-dsk-5 {width: 41.66%;}
     .col-dsk-6 {width: 50%;}
     .col-dsk-7 {width: 58.33%;}
     .col-dsk-8 {width: 66.66%;}
     .col-dsk-9 {width: 75%;}
     .col-dsk-10 {width: 83.33%;}
     .col-dsk-11 {width: 91.66%;}
     .col-dsk-12 {width: 100%;}
 }

/* Tablette */
 @media only screen and (min-width: 420px) and (max-width: 1024px) {
   /*  Responsive sur 12 col */
   .col-tbl-1 {width: 8.33%;}
   .col-tbl-2 {width: 16.66%;}
   .col-tbl-3 {width: 25%;}
   .col-tbl-4 {width: 33.33%;}
   .col-tbl-5 {width: 41.66%;}
   .col-tbl-6 {width: 50%;}
   .col-tbl-7 {width: 58.33%;}
   .col-tbl-8 {width: 66.66%;}
   .col-tbl-9 {width: 75%;}
   .col-tbl-10 {width: 83.33%;}
   .col-tbl-11 {width: 91.66%;}
   .col-tbl-12 {width: 100%;}
 }

/* Telephone */
 @media only screen and (max-width: 420px) {
   /*  Responsive sur 12 col */
   .col-phn-1 {width: 8.33%;}
   .col-phn-2 {width: 16.66%;}
   .col-phn-3 {width: 25%;}
   .col-phn-4 {width: 33.33%;}
   .col-phn-5 {width: 41.66%;}
   .col-phn-6 {width: 50%;}
   .col-phn-7 {width: 58.33%;}
   .col-phn-8 {width: 66.66%;}
   .col-phn-9 {width: 75%;}
   .col-phn-10 {width: 83.33%;}
   .col-phn-11 {width: 91.66%;}
   .col-phn-12 {width: 100%;}
 }

/* agit sur toutes les classes col- */
[class*="col-"] {
    float: left;
    /* padding: 10px; */
}

/*  Responsive sur 12 col */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* saut de colonne, marge droite */
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}
.col-offset-12 {margin-left: 100%;}


/* Nettoie le float, va a la ligne APRES la fermeture */
.row::after {
    content: "";
    clear: both;
    display: block;
}

/* stop margin */
body, p{
  margin: 0px;
  font-family: Helvetica;
}

.center{
  text-align: center;
}
.left{
  text-align: left;
}
.right{
    text-align: right;
}

/* FORMULAIRE (label/input:radio,text,nombre,checkbox)*/
.form-action{
  padding: 20px;
  background-color: #171717;
}

form{
    margin: 20px;
}

.form-ninja{
    margin: 0px;
}

input{
  border-bottom: 2px solid white;
  border-style: none none solid;
  background-color: #171717;
  border-radius: 0px;
  height: 30px;
  color: white;
  padding-left: 4px;
  font-size: 18px;
  text-align: center;
}

button{
  padding: 14px;
  border: 2px solid white;
  background-color: black;
  color: white;
}

ul{
  list-style: none;
}
/* button
  Nav
  Tab/ongletss
  Table*/
