body {
  background-color: black;
  color: #FFF; }

.goGame button {
  width: 242px; }

.room {
  background-color: #171717; }

.room h1 {
  background-color: black;
  padding: 10px;
  margin: 0px;
  font-size: 20px; }

.playerList {
  background-color: black;
  height: 98vh;
  padding: 10px; }

.room h2 {
  font-size: 18px;
  margin: 4px 0px 10px 0px; }

.room ul {
  padding: 0px; }

.form-ninja button {
  text-align: left;
  vertical-align: text-top; }

.hand {
  padding: 12px 0px; }

.cards {
  display: inline-block;
  height: 200px;
  width: 142px;
  margin: 4px;
  font-weight: 700;
  padding: 10px;
  border-radius: 20px; }

.blackC {
  background-color: black;
  color: white;
  border: 2px solid white; }

.whiteC {
  background-color: white;
  color: black;
  border: 2px solid black; }

p{
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */
